body {
    margin: 0;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='button'] {
    margin-top: 10px;
    border-radius: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.book {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 100px;
    text-align: center;
}